In [1]:
import pandas as pd

In [2]:
df_rating = pd.read_csv('Books_rating.csv')

In [3]:
df_data = pd.read_csv('books_data.csv')

In [4]:
df_rating.nunique()

Id                     221998
Title                  212403
Price                    6004
User_id               1008972
profileName            854145
review/helpfulness      12084
review/score                5
review/time              6272
review/summary        1592314
review/text           2062648
dtype: int64

In [5]:
df_data.nunique()

Title            212403
description      133226
authors          127278
image            149387
previewLink      188099
publisher         16016
publishedDate     11582
infoLink         184506
categories        10883
ratingsCount        478
dtype: int64

In [6]:
df_data.image

0         http://books.google.com/books/content?id=DykPA...
1         http://books.google.com/books/content?id=IjvHQ...
2         http://books.google.com/books/content?id=2tsDA...
3         http://books.google.com/books/content?id=aRSIg...
4                                                       NaN
                                ...
212399    http://books.google.com/books/content?id=J7M-N...
212400    http://books.google.com/books/content?id=3n8k6...
212401                                                  NaN
212402    http://books.google.com/books/content?id=JM6YV...
212403    http://books.google.com/books/content?id=dehfP...
Name: image, Length: 212404, dtype: object

In [7]:
df_data.isnull().sum()

Title                 1
description       68442
authors           31413
image             52075
previewLink       23836
publisher         75886
publishedDate     25305
infoLink          23836
categories        41199
ratingsCount     162652
dtype: int64

In [8]:
df_data.dropna(axis=0, inplace=True)

In [9]:
df_data.isnull().sum()

Title            0
description      0
authors          0
image            0
previewLink      0
publisher        0
publishedDate    0
infoLink         0
categories       0
ratingsCount     0
dtype: int64

In [10]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40635 entries, 5 to 212402
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          40635 non-null  object
 1   description    40635 non-null  object
 2   authors        40635 non-null  object
 3   image          40635 non-null  object
 4   previewLink    40635 non-null  object
 5   publisher      40635 non-null  object
 6   publishedDate  40635 non-null  object
 7   infoLink       40635 non-null  object
 8   categories     40635 non-null  object
 9   ratingsCount   40635 non-null  float64
dtypes: float64(1), object(9)
memory usage: 3.4+ MB

In [11]:
df_rating.dropna(axis=0, inplace=True)

In [12]:
df_rating.info()

<class 'pandas.core.frame.DataFrame'>
Index: 414518 entries, 10 to 2999988
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Id                  414518 non-null  object
 1   Title               414518 non-null  object
 2   Price               414518 non-null  float64
 3   User_id             414518 non-null  object
 4   profileName         414518 non-null  object
 5   review/helpfulness  414518 non-null  object
 6   review/score        414518 non-null  float64
 7   review/time         414518 non-null  int64
 8   review/summary      414518 non-null  object
 9   review/text         414518 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 34.8+ MB

In [13]:
df_rating.nunique()

Id                     47981
Title                  47364
Price                   5926
User_id               305427
profileName           273129
review/helpfulness      5819
review/score               5
review/time             5685
review/summary        325608
review/text           396233
dtype: int64

In [14]:
df_data.nunique()

Title            40635
description      36616
authors          26809
image            36907
previewLink      40449
publisher         4660
publishedDate     6891
infoLink         38961
categories        1105
ratingsCount       454
dtype: int64

In [15]:
df_data.to_csv('books_data_clean.csv')

In [ ]:
df_rating.to_csv('books_rating_clean.csv')